/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/
:root {
  --content-text-color: #F1B2CE;
  --title-text-color: #000028;
  --background-title-color: #FF0070;
  --button-text-color: #FF0070;
  --logo-color: #DB00FF;
  --accent-color: #FF0070;
  --font-size: 18px;
  --font-weight-title: 700;
  --font-weight: 400;
  --font-family: "IBM Plex Mono";
  --background-color: #000028;
  --border-color: #FF0070;
  --title-color: #FF0070;
  --background-img: url(../images/cover-image-dark.png);
}